.menu-title{
    font-size: 100px;
    font-family: Concert One;
    text-align: center;
}
.menu-subtit{
    text-align: center;
    font-size: 50px;
    font-family: Neuton;
}
.hero-menu{
    
    margin-bottom: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url("https://i.ibb.co/4gTZB52/Yellow-Belgian-waffles-seamless-pattern-for-print-design-Cartoon-sweet-vector-illustration-Golden-wa.jpg");
    /* background: #FCE2D8; */
    border: 1px solid #eee;
    float: left;
    width: 100%;
    position: relative;
}
.tab1 {
    overflow: hidden;
    width: 100%;
    float: left;
}
.primerTab{
    display: block;
    width: 100%;
    float: left;
}

.tipo-plato {
    font-size: 100px;
    text-align: center;
}

.navBarMenu {
    inline-size: min-content;
    overflow: hidden;
}

#navBarMiniCarta {
    justify-content: center;
}
#navBarMiniCarta li{
    display: inline;
    
}
#navBarMiniCarta li > button{
    font-family: Urbanist;
    font-size: 25px;
    background-color: #C7A78E;
    color: white;
     
}
#navBarMiniCarta li > button:hover{
    animation-name: bounce;
    animation-duration: 0.7s;
}

#flechita{
    font-size: 60px;
    color: #C7A78E;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}
  @keyframes flechita {
    from {
        margin-top: 0;
      }
      to {
        margin-top: -10px;
      }
  }

@media screen and (max-width: 576px){
    #navBarMiniCarta{
        display: flex;
        flex-direction: column;
    }
    .navBarMenu{
        width: 50%;
    }
    #navBarMiniCarta li > button{
        margin-top: 20px;
    }
    .altText{
        font-size: 85px;
    }
}

@media screen and (max-width: 992px){
    #navBarMiniCarta li > button{
        margin-top: 30px;
    }
    #navBarMiniCarta{
        display: flex;
    }
    
}
